@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.tic-tac-toe-cont {
  font-family: "Marcellus", serif;
}
.tic-tac-toe-cont button {
  font-family: "Marcellus", serif;
}
.ttt-turn-tracker {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.ttt-board-cont {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 60vh;
  height: 60vh;
  margin: auto;
}
.ttt-board-cont div {
  font-size: 300%;
}
.ttt-square {
  border: 2px solid var(--header-color);
  border-style: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-1,
.square-7 {
  border-style: hidden solid hidden solid;
}
.square-3,
.square-5 {
  border-style: solid hidden solid hidden;
}
.square-4 {
  border-style: solid;
}
.player1-square {
  background: red;
}
.player2-square {
  background: blue;
}
.ttt-game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ttt-game-outcome {
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}
