#mc-game-container {
  height: 100vh;
  background-color: rgb(238, 118, 0);
  color: rgb(255, 227, 159);
}

/**************/
/* Scoreboard */
/**************/
.mc-scoreboard-cont {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10vh;
}
.mc-logo-cont {
  position: absolute;
  top: 5px;
  left: 5px;
}
.futurama-logo {
  height: 9vh;
}
.mc-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

/*************/
/* Game Main */
/*************/
#table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.mc-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  height: 20vh;
  width: 15vh;
  max-width: 300px;
  max-height: 300px;
}

