/*******/
/* Nav */
/*******/
#ps-navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  background: var(--accent-color);
  font-size: calc(3px + 2vmin);
  color: var(--header-color);
}
.ps-nav-links {
  width: 40vw;
  display: flex;
  justify-self: right;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.ps-nav-link,
.ps-nav-link:visited {
  color: #ede7e3;
  text-decoration: none;
  margin: 0 5px;
}
.ps-nav-link:hover {
  color: var(--header-color);
}
.ps-nav-link.active {
  color: var(--header-color);
}

/********/
/* Main */
/********/
.ps-main-comp {
  margin-top: 8vh;
  display: grid;
  justify-content: center;
}
.ps-start-btn {
  background-color: var(--header-color);
  text-align: center;
  margin-bottom: 3vh;
  transition: transform 0.1s;
  width: 50%;
  justify-self: center;
  border-radius: 5px;
}
.ps-start-btn:hover {
  transform: scale(1.1);
  filter: brightness(125%);
}
.ps-search-img {
  width: 800px;
  height: 800px;
  cursor: crosshair;
}
#ps-home-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ps-home-span {
  text-align: center;
  margin-bottom: 8px;
}
.ps-home-link {
  font-style: oblique;
  text-decoration: underline;
}
.ps-img-info {
  text-align: center;
  margin-bottom: 2vh;
}
#ps-popup-box {
  padding: 50px;
  background: var(--body-color);
  text-align: center;
  border-radius: 10%;
}
#ps-popup-box input {
  color: var(--header-color);
}
.ps-popup-btn {
  background-color: var(--body-color);
}
#ps-board-container {
  width: 90vw;
  height: 90vh;
}
#ps-board-nav {
  display: flex;
  justify-content: center;
}
.ps-score-btn {
  border: none;
  padding: 1vh 4vw;
  color: var(--header-color);
}
#ps-board-display {
  height: fit-content;
  background: var(--font-color);
}
#ps-leader-list li:nth-child(even) {
  background: var(--detail-color);
}
#ps-leader-list {
  margin-top: 0;
  list-style-type: none;
  color: black;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 0;
}
.ps-ldr-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.ps-ldr-list-item * {
  color: var(--header-color);
}
#ps-drop-menu select {
  color: var(--header-color);
}
