@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300;400;500&display=swap");

:root {
  --header-color: #1d3557;
  --body-color: #457b9d;
  --font-color: #f1faee;
  --detail-color: #a8dadc;
  --accent-color: #e63946;
}

html {
  background-color: var(--body-color);
}
*,
a {
  color: var(--font-color);
}
button {
  color: var(--font-color);
  background-color: var(--header-color);
}
button:hover {
  cursor: pointer;
}

/*****************/
/* Header & Menu */
/*****************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: var(--header-color);
}
.menu-toggle-cont {
  margin-left: 20px;
}
.header-title-cont {
  margin-right: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.drop-menu {
  position: absolute;
  top: 70px;
  left: 0;
  background: var(--header-color);
  width: 40%;
  max-width: 240px;
  height: calc(100vh - 70px);
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif;
}
.nav-list {
  display: flex;
  flex-direction: column;
}
.nav-list li {
  margin: 5% 0;
  margin-left: 10px;
}

/**********/
/* Footer */
/**********/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.github-icon {
  height: 3vh;
  min-height: 15px;
  margin-right: 1vh;
}
.github-icon:hover {
  transform: scale(1.5);
}

/*************/
/* Home Page */
/*************/
.home-cont {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}
.home-title-cont {
  margin: auto;
  margin-top: 2vh;
  font-weight: 500;
}
.home-main-cont {
  margin: auto;
  margin-top: 2vh;
  width: 80vw;
}
.game-desc-cont {
  margin: 1vh;
}
.home-game-title {
  margin: auto;
  text-decoration: underline;
  font-weight: 400;
}
.home-game-desc {
  margin-top: 2px;
  font-weight: 300;
}
